@font-face {
    font-family: 'JerseyR';
    src: url('../font/jerseyr.ttf') format('truetype');
}

.form-container {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f9f9f9d0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(99, 98, 98, 0.877); 
    margin-bottom: 15px;

}

.title-p{
    font-family: 'JerseyR', sans-serif;
    font-size: 40px;
    color: rgba(31, 35, 70, 1); 
    margin-bottom: 15px;
}

.title-container, .type-container, .sm-container, .copy-container, .pb-container, .file-container{
    margin-bottom: 15px; 
    width: 310px;
}

label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px;
    color: rgba(31, 35, 70, 1); 
    font-size: 15px;
}

input, select, textarea {

    width: 100%; 
    padding: 8px; 
    border: 1px solid rgba(31, 35, 70, 1);
    border-radius: 4px; 
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: #fff;
    
}

textarea {
    resize: vertical; 
    min-height: 90px; 
    width: 310px;
}

button{
    background-color: #0056b3;  
    color: #fff; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 25px; 
    margin-top: 15px;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgba(31, 35, 70, 1); 
}
