@font-face {
    font-family: 'JerseyR';
    src: url('../font/jerseyr.ttf') format('truetype');
}

body {
    margin: 15px;
    background: rgb(43, 43, 43);
}

.container-calendar {
    margin-top: 80px;
    background: rgb(43, 43, 43);
}

.fc-button.fc-prev-button,
.fc-button.fc-next-button,
.fc-button.fc-today-button {
    background-color: rgb(81, 90, 90);
    border: none;
    color: rgb(255, 255, 255);
 
}

.fc-button.fc-prev-button:hover,
.fc-button.fc-next-button:hover,
.fc-button.fc-today-button:hover {
    background-color: rgb(81, 90, 90);
    border: none;
    color: rgb(255, 255, 255);
}

.fc-button.fc-dayGridMonth-button,
.fc-button.fc-timeGridWeek-button,
.fc-button.fc-timeGridDay-button {
    background-color: rgb(81, 90, 90);
    border: none;
}

.fc-button.fc-dayGridMonth-button:hover,
.fc-button.fc-timeGridWeek-button:hover,
.fc-button.fc-timeGridDay-button:hover {
    background: #0000009d;
    border: none;
}

.fc-h-event .fc-event-main {
    color: rgba(0, 0, 0, 0.726);
}

.fc-event-main {
    white-space: normal; /* Permite que el texto se divida en varias líneas */
    word-wrap: break-word; /* Permite que las palabras largas se dividan en varias líneas */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}

:root {
    --fc-today-bg-color: #ffffff69; /* día actual */ 
    --fc-button-bg-color: #000000c4; /* boton de 'today' */ 
    --fc-button-active-bg-color: #000000bb; /* boton activo */ 
    --fc-border-color: #ffffff; /* borde del calendario */ 
    --fc-border-radius: 15px;
}

.fc .fc-toolbar-title {
    color: #ffffffb2;
    font-size: 45px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #ffffffb2;
}

.full-container {
    font-family: 'JerseyR', sans-serif;
    background: rgb(43, 43, 43);
    font-size: 20px;
    border-radius: 15px;
    transition: margin-top 0.3s; /* Transición suave al cambiar el margen */
}

.overlay1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

.modal-creation-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90%; /* Cambiado para ser responsivo */
    max-width: 400px; /* Cambiado para limitar el tamaño máximo */
    max-height: 80vh; /* Añadido para limitar la altura máxima */
    overflow-y: auto; /* Permitir desplazamiento vertical */
    background-color: rgb(43, 43, 43);
}
.modal-creation-event h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    font-size: 30px; /* Ajustado para pantallas pequeñas */
}

.modal-creation-event label {
    display: block;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.822);
    font-size: 20px; /* Ajustado para pantallas pequeñas */
}

.modal-creation-event input,
.modal-creation-event textarea,
.modal-creation-event select {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(31, 35, 70, 1);
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal-creation-event .fecha {
    margin-top: 10px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.795);
    font-size: 20px; /* Ajustado para pantallas pequeñas */
}

.modal-creation-event .guardar,
.modal-creation-event .cancelar {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'JerseyR', sans-serif;
    font-size: 20px; /* Ajustado para pantallas pequeñas */
    transition: background-color 0.3s;
}

.modal-creation-event .guardar {
    background-color: #175A0C;
    color: white;
}

.modal-creation-event .guardar:hover {
    background-color: #0a2906;
}

.modal-creation-event .cancelar {
    background-color: #a3180e;
    color: white;
}

.modal-creation-event .cancelar:hover {
    background-color: #630b05;
}

.modal-view-event {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 90%; /* Cambiado para ser responsivo */
    max-width: 400px; /* Cambiado para limitar el tamaño máximo */
    max-height: 80vh; /* Añadido para limitar la altura máxima */
    overflow-y: auto; /* Permitir desplazamiento vertical */
}

.modal-view-event h2 {
    text-align: center;
    font-size: 30px; /* Ajustado para pantallas pequeñas */
    font-weight: lighter;
    font-family: 'JerseyR', sans-serif;
}

.modal-view-event p {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modal-view-event .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-view-event button {
    flex: 1;
    padding: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'JerseyR', sans-serif;
    font-size: 20px; /* Ajustado para pantallas pequeñas */
    font-weight: bolder;
    transition: background-color 0.3s;
}

.modal-view-event button:first-child {
    color: rgba(255, 255, 255, 0.795);
    color: black;
}

.modal-view-event button:first-child:hover {
    color: rgba(99, 99, 99, 0.795);
}

.modal-view-event button:nth-child(2) {
    background-color: #a3180e;
    color: white;
}

.modal-view-event button:nth-child(2):hover {
    background-color: #630b05;
}

.modal-view-event button:last-child {
    background-color: #07A193;
    color: white;
}

.modal-view-event button:last-child:hover {
    background-color: #074b45;
}

/* Modal para confirmar eliminación */
.modal-confirm-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(43, 43, 43);
    color: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 90%; /* Cambiado para ser responsivo */
    max-width: 300px; /* Cambiado para limitar el tamaño máximo */
    max-height: 80vh; /* Añadido para limitar la altura máxima */
    overflow-y: auto; /* Permitir desplazamiento vertical */
}

.modal-confirm-delete h2 {
    text-align: center;
    font-size: 30px; /* Ajustado para pantallas pequeñas */
}

.modal-confirm-delete p {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}

.modal-confirm-delete button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'JerseyR', sans-serif;
    font-size: 20px; /* Ajustado para pantallas pequeñas */
}

.modal-confirm-delete .confirm {
    background-color: #175A0C;
    color: white;
}

.modal-confirm-delete .confirm:hover {
    background-color: #0a2906;
}

.modal-confirm-delete .cancel {
    background-color: #a3180e;
    color: white;
}

.modal-confirm-delete .cancel:hover {
    background-color: #630b05;
}

/* Media Queries */
@media (max-width: 600px) {
    .fc .fc-toolbar-title {
        font-size: 30px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .modal-creation-event h2,
    .modal-view-event h2,
    .modal-confirm-delete h2 {
        font-size: 24px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .modal-creation-event label,
    .modal-creation-event .fecha,
    .modal-view-event p,
    .modal-confirm-delete p {
        font-size: 16px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .modal-creation-event input,
    .modal-creation-event textarea,
    .modal-creation-event select,
    .modal-view-event button,
    .modal-confirm-delete button {
        font-size: 16px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .modal-creation-event .guardar,
    .modal-creation-event .cancelar,
    .modal-view-event button,
    .modal-confirm-delete button {
        font-size: 16px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .modal-creation-event {
        padding: 10px; /* Reduce el padding en pantallas más pequeñas */
    }
    
    .modal-creation-event input,
    .modal-creation-event textarea,
    .modal-creation-event select {
        padding: 8px; /* Reduce el padding de los inputs en pantallas más pequeñas */
    }
}
