/* -- header -- */  
.header {
  width: 100%;
  background-color: rgb(0, 0, 0); 
  padding: 10px 0;
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.opc {
  background-color: rgb(81, 90, 90);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  font-family: 'JerseyR', sans-serif;
}

.opc:hover {
  background-color: rgb(43, 48, 48);
}

/* -- fin header -- */
