@font-face {
  font-family: 'JerseyR';
  src: url('../font/jerseyr.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.opc-l, .opc-r {
  background-color: #1d7532;
  font-size: 20px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'JerseyR', sans-serif;
  transition: background-color 0.3s;
}

.opc-l:hover, .opc-r:hover {
  background-color: #0e3f19;
}

.home-container {
  text-align: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../images/logologin.png') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.title-home {
  font-size: 3rem;
  z-index: 2;
  margin-top: 0;
  font-family: 'JerseyR', sans-serif;
}

/* Adaptar tamaño de texto en dispositivos pequeños */
@media (max-width: 768px) {
  .title-home {
    font-size: 2.5rem;
  }

  .p-home {
    font-size: 16px;
  }

  .opc-l, .opc-r {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.p-home {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  z-index: 2;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se acomoden en línea o en columna */
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  z-index: 2;
}

/* Cambiar a columnas en pantallas pequeñas */
@media (max-width: 480px) {
  .auth-buttons {
    flex-direction: column;
    gap: 10px;
  }
}
