@font-face {
  font-family: 'JerseyR';
  src: url('../font/jerseyr.ttf') format('truetype');
}

.container-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(43, 43, 43);
  min-height: 100vh;
}

.login-container {
  margin-top: 100px;
  width: 70%;
  height: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.822);
  color: rgb(43, 43, 43);
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(204, 162, 64, 0.418);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-login {
  font-family: 'JerseyR', sans-serif;
  font-size: 60px;
  color: rgb(43, 43, 43);
  margin-bottom: 40px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 4px;
}

.image {
  width: 200px;
  height: 200px;
}

.form-container-login {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field-login {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid rgb(43, 43, 43);
  font-size: 15px;
}

.submit-button-l {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(43, 43, 43);
  color: rgba(236, 236, 236, 0.842);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'JerseyR', sans-serif;
  transition: background-color 0.3s;
}

.submit-button-l:hover {
  background-color: rgba(31, 35, 70, 0.8);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .login-container {
      flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
      height: auto; /* Ajustar la altura */
  }

  .image-container {
      width: 100%; /* Hacer que la imagen ocupe el 100% */
      border-right: none; /* Eliminar el borde derecho */
      margin-bottom: 20px; /* Añadir margen inferior */
  }

  .form-container-login {
      width: 100%; /* Hacer que el contenedor de formulario ocupe el 100% */
      align-items: center; /* Centrar los elementos */
  }

  .title-login {
      font-size: 40px; /* Reducir el tamaño del título */
  }

  .input-field-login,
  .submit-button-l {
      width: 90%; /* Ajustar el ancho de los inputs y el botón */
      font-size: 14px; /* Reducir el tamaño de la fuente */
  }
}

@media (max-width: 480px) {
  .title-login {
      font-size: 32px; /* Reducir aún más el tamaño del título */
  }

  .input-field-login,
  .submit-button-l {
      font-size: 12px; /* Hacer aún más pequeño el tamaño de la fuente */
      padding: 8px; /* Ajustar padding */
  }

  .submit-button-l {
      padding: 10px; /* Ajustar padding del botón */
  }
}
