@font-face {
    font-family: 'JerseyR';
    src: url('../font/jerseyr.ttf') format('truetype');
}

body {
    background: rgb(43, 43, 43);
}

.form-c {
    margin-top: 100px;
    background: rgb(43, 43, 43);
}

.container-f{
    transition: margin-top 0.3s; /* Transición suave al cambiar el margen */
}
.form-container {
    max-width: 500px; 
    padding: 20px; 
    background-color: rgba(249, 249, 249, 0.82); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(99, 98, 98, 0.877); 
    
}

.title-p {
    font-family: 'JerseyR', sans-serif;
    font-size: 40px;
    color: rgb(43, 43, 43);
    margin-bottom: 15px;
}

.title-container, .type-container, .sm-container, .copy-container, .pb-container, .file-container {
    margin-bottom: 15px; 
    width: 310px;
}

label {
    display: block; 
    font-weight: bold; 
    margin-bottom: 5px;
    color: rgb(43, 43, 43);
    font-size: 15px;
}

.input-form-p, .select-form-p, .copy, .description-form {
    width: 100%; 
    padding: 8px; 
    border: 1px solid rgba(43, 43, 43, 1);
    border-radius: 4px; 
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    background-color: #fff;
}

textarea {
    resize: vertical; 
    min-height: 90px; 
    width: 310px;
}

.btn-pform {
    background-color: rgb(81, 90, 90);
    color: rgb(255, 255, 255);
    font-family: 'JerseyR', sans-serif;
    font-size: 25px;
    transition: background-color 0.3s;
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: lighter;
    border: none;
}

.btn-pform:hover {
    background-color: rgb(43, 48, 48);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .form-container {
        padding: 15px; 
        width: 90%; /* 90% width for small screens */
    }
    
    .title-p {
        font-size: 32px; /* Reduce title size */
    }
    
    .input-form-p, .select-form-p, .copy, .description-form {
        font-size: 14px; /* Smaller font size for inputs */
    }

    .btn-pform {
        font-size: 20px; /* Reduce button font size */
        padding: 8px 12px; /* Adjust button padding */
    }

    textarea {
        width: 100%; /* Make textarea full width */
    }
}

@media (max-width: 480px) {
    .title-p {
        font-size: 28px; /* Further reduce title size */
    }

    .input-form-p, .select-form-p, .copy, .description-form {
        font-size: 12px; /* Even smaller font size for inputs */
    }

    .btn-pform {
        font-size: 18px; /* Further reduce button font size */
        padding: 6px 10px; /* Adjust button padding */
    }
}
