@font-face {
    font-family: 'JerseyR';
    src: url('../font/jerseyr.ttf') format('truetype');
  }

.proposals-list {
    padding: 20px;
    background: rgb(43, 43, 43);
  }
  
  .proposals-list h1 {
    margin-top: 80px;
    font-size:50px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: 'JerseyR', sans-serif;
    font-weight: lighter;
  }
  
  .proposals-list ul {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    background: #0000009d;
  }
  
  .proposals-list li {
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(81, 90, 90);
    color: rgb(255, 255, 255);
    font-family: 'JerseyR', sans-serif;
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .proposals-list li:hover {

    background-color: rgb(43, 48, 48);

  }

  .msj_empty{
    color: rgb(255, 255, 255);
    font-family: 'JerseyR', sans-serif;
    font-size: 25px;
  }

  