@font-face {
    font-family: 'JerseyR';
    src: url('../font/jerseyr.ttf') format('truetype');
  }

  .container-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    min-height: 100vh;

  }
  
  .register-container {
    width: 70%;
    margin-top: 100px;
    height: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.822);
    color: rgb(1, 2, 10);
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(204, 162, 64, 0.418);
    display: flex;
    justify-content: space-between;
  }


  .title-register {
    font-family: 'JerseyR', sans-serif;
    font-size: 50px;
    color: rgbargb(43, 43, 43);
    margin-bottom: 10px;
  }

  .subtitle-login{
    font-family: 'JerseyR', sans-serif;
    font-size: 20px;
    color: rgb(43, 43, 43);
    margin-bottom: 20px;
  }
  
  .image-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 4px;
  
  }
  
  .image {
    width: 200px;
    height: 200px;
  
  }
  
  .form-container-register {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

  .input-field-register, .name-register {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgb(43, 43, 43);
    font-size: 15px;
}

  .submit-button-r {
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(43, 43, 43);
    color: rgba(236, 236, 236, 0.842);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'JerseyR', sans-serif;
    transition: background-color 0.3s;
}

.submit-button-r:hover {
    background-color: rgba(31, 35, 70, 0.8);
}

